<h1>Diário de Classe</h1> <br/>

<h1>Editar informações do usuário</h1>

<%= form_with scope: :cadastro, url: edit_cadastro_path ,local: true do |form| %>

<%= end %>

<%= link_to "Início", root_path %>