<!--TODO: fazer filtro de acordo com perfil do usuário logado -->
<h3>Menu</h3>
<div>
    <p>
        <%= link_to "Listar usuarios", cadastros_path %>
    </p>
      
    <p>
        <%= link_to "Cadastrar novo usuário", new_cadastro_path %>
    </p> 
    
</div>