<h1>Diário de Classe</h1>

<!--TODO: fazer filtro de acordo com perfil do usuário logado -->

<%= link_to "Listar usuarios", cadastros_path %>

<br/>

<%= link_to "Cadastrar novo usuário", new_cadastro_path %>

<br/>
